@{
    ViewBag.Title = "Geo Garbage";
}

<div class="row">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li class="active">
                <a id="linkAbaMonitoramento" href="#TabMonitoramento" data-toggle="tab"><b>MONITORAMENTO</b></a>
            </li>
            <li>
                <a id="linkAbaRelatorio" href="#TabRelatorio" data-toggle="tab"><b>RELATORIO</b></a>
            </li>
            <li>
                <a id="linkAbaAdmin" href="#TabAdmin" data-toggle="tab"><b>ADMIN</b></a>
            </li>
        </ul>
        <hr/>
        <div class="tab-content clearfix">
            <div class="tab-pane active" id="TabMonitoramento">
                @Html.Partial("~/Areas/Monitoramento/Views/Home/MonitoramentoViewPartial.cshtml")
            </div>
            <div class="tab-pane" id="TabRelatorio">
                @Html.Partial("~/Areas/Relatorio/Views/Home/RelatorioViewPartial.cshtml")
            </div>
            <div class="tab-pane" id="TabAdmin">
                @Html.Partial("~/Areas/Admin/Views/Home/AdminViewPartial.cshtml")
            </div>
        </div>
    </div>

</div>
